{% extends 'menu.html' %}

{% block content %}
  <main class="container mt-5">
    <h1 class="text-center">Lista de Registros de Jogadores</h1>

    <table class="table mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Número da Camisa</th>
          <th>Idade</th>
          <th>Equipe</th>
          <th>Posicao<th>
          {% if user.is_authenticated %}
          <th>Ações<th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for jogador in jogador_list %}
          <tr>
            <td>{{ jogador.id }}</td>
            <td>{{ jogador.nome }}</td>
            <td>{{ jogador.num_camisa }}</td>
            <td>{{ jogador.idade }}</td>
            <td>{{ jogador.equipe.nome }}</td>
            <td>{{ jogador.posicao }}</td>
            {% if user.is_authenticated %}
            <td>
              <a href="{% url 'editar_jogador' jogador.id %}">Editar</a> |
              <a href="{% url 'excluir_jogador' jogador.id %}">Excluir</a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
